body {
    background-color: rgb(131, 228, 147);
}

.wrapper {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 150px);
    grid-auto-rows: 150px;
    justify-content: center;
}

.number, .operator, .action, #equals{
    font-size: 3em;
    box-shadow: 5px 5px 5px rgb(140, 163, 127);
}

.action {
    grid-column: span 2;
}

#equals, .problem-wrapper {
    grid-column: span 5;
}

.problem-wrapper {
    width: 747px;
    height: 80px;
    background-color: red;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3em;
    object-fit: cover;
    background-color: rgb(212, 248, 237);
}